[submodule ".dotfiles-secret"]
	path = .dotfiles-secret
	url = git@github.com:fedemengo/.dotfiles-secret.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/fedemengo/nvim.git
