__*

*.ovpn
*.crt
pics/

.mozilla/*
!.mozilla/firefox/fedemengo.default/chrome/*

.zsh/local.zsh

.vim/.netrwhist

.config/polybar/info
.config/tmux/plugins/
.config/github-copilot/

autoload/
spell/

.tmux/
