[submodule ".config/nvim/deps/papercolor-theme"]
	path = .config/nvim/deps/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "sysdig"]
	path = sysdig
	url = git@github.com:fedemengo/dotfiles-sysdig.git
[submodule ".dotfiles-sysdig"]
	path = .dotfiles-sysdig
	url = git@github.com:fedemengo/.dotfiles-sysdig.git
[submodule ".dotfiles-secret"]
	path = .dotfiles-secret
	url = git@github.com:fedemengo/.dotfiles-secret.git
