# This is Git's per-user configuration file.
[user]
	name = Federico Mengozzi
	email = 19249682+fedemengo@users.noreply.github.com
	signingKey = ~/.ssh/github_signing.pub
[alias]
	wl = worktree list
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	co = checkout
	d = difftool
	hub = !hub
	pr = !hub pr show
	pad = add --patch

[merge]
	tool = vimdiff3
[mergetool]
	path = nvim
[mergetool "vimdiff"]
	path = nvim
[diff]
	tool = vimdiff3
	colorMoved = default
[difftool "vimdiff3"]
	path = nvim
[mergetool "vimdiff3"]
	path = nvim
[core]
	editor = nvim
	pager = less
	excludesfile = /Users/fedemengo/.gitignore
	hooksPath = /Users/fedemengo/.git/hooks
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	#diffFilter = delta --color-only --features=interactive
[delta]
	navigate = true
	side-by-side = true
	features = decorations
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[http]
	version = HTTP/2
[gpg]
	format = ssh
[commit]
	gpgSign = true
[credential]
	helper = osxkeychain
